.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}

.centerText {
  text-align: center;
  color: #e1e4ea;
  font-size: 75%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}