.App {
  text-align: center;
  background-color: #203f7d;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #203f7d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}

body{
  background-color:#232f3e;
}